# Maven related
target/
.mvn/wrapper/*.jar
!**/src/**

# IntelliJ related
.idea/
*.iml

# Terraform related
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
